<mat-card class="example-card">
  <mat-card-title>{{ name }}</mat-card-title>
  <mat-card-subtitle>{{ id }}</mat-card-subtitle>
  <img mat-card-image src="{{ srcImg }}" alt="Photo of a Shiba Inu">
  <mat-card-actions>
    <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>