<!-- <app-header></app-header>
<router-outlet></router-outlet> -->

<mat-sidenav-container fullscreen>

  <mat-sidenav #sidenav role="navigation" mode="push">
    <app-sidenav (sideNavClosed)="sidenav.close()"></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content fxLayout="column">

    <div class="header">
      <app-header (sidenavToggle)="sidenav.toggle()" fxHide fxShow.lt-sm>
      </app-header>
    </div>

    <main class="container mat-app-background">
      <router-outlet></router-outlet>
    </main>

    <app-footer sidenavTogglefxHide fxShow.lt-sm>
    </app-footer>

  </mat-sidenav-content>

</mat-sidenav-container>

<style>
.example-spacer {
  flex: 1 1 auto;
}
mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100vh;
}

mat-sidenav {
  width: 40vw;
}

.header {
  margin-bottom: 8px;
}

.container {
  height: 100vh;
  overflow: auto;
  padding: 10px;
  margin-bottom: 50px;
}
</style>